h3 {
    color: #929292;
}
.clientes {
    margin: 1% 1% 0% 0%;
}
.clientes-header {
    background-color: #e0e0e0;
    border-radius: 8px;
    width: 99%;
}
.clientes:focus {
    outline: 0px !important;
    }
.btn_close {
    width: fit-content;
    text-align: right;
    float: right;
}
.title {
    max-width: 350px;
    display: inline-block;
    padding: 5px 1% 0 2%;
    border-left: #868686 8px solid;
}