.administracion-container {
  position: absolute;
  top: 56px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  justify-content: center;
  width: 66px;
  background: #ffffff;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5515f', endColorstr='#9f041b', GradientType=0);
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  align-items: center;
  white-space: nowrap;
}

.mat-icon-button {
  display: inline-block;
  padding: 0;
  min-width: 0;
  width: 50px;
  height: 42px;
  line-height: 28px;
  border-radius: 50%;
}

.header {
  top: 0;
  left: 0;
  right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-toolbar.footer.mat-toolbar.mat-toolbar-single-row {
  height: 20px !important;
  background-color: #a0051c;
}

.mat-button-toggle-vertical {
  width: inherit;
}

.mat-button-toggle-group-appearance-standard,
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
  border-radius: 0px !important;
}

.mat-button-toggle-group-appearance-standard.mat-button-toggle-vertical .mat-button-toggle+.mat-button-toggle {
  border-left: none;
  border-right: none;
  border-top: solid 0px rgba(0, 0, 0, 0.12);
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border: none !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 56px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  text-align: left !important;
  padding-left: 1.5em;
}

.mat-expansion-panel-content>.mat-expansion-panel-body {
  padding: 0 !important;
}

// Menu btb colors
.mat-button-toggle#mat-button-toggle-1,
.mat-button-toggle#mat-button-toggle-2,
.mat-button-toggle#mat-button-toggle-3,
.mat-button-toggle#mat-button-toggle-4,
.mat-button-toggle#mat-button-toggle-5,
  {
  -webkit-box-shadow: 9px 7px 23px -14px rgba(0, 0, 0, 1);
  -moz-box-shadow: 9px 7px 23px -14px rgba(0, 0, 0, 1);
  box-shadow: 9px 7px 23px -14px rgba(0, 0, 0, 1);
  border-left: #dfdfdf 1px solid;
}

.mat-button-toggle mat-button-toggle-appearance-standard mat-button-toggle-checked {
  color: rgb(133, 133, 133);
}

.mat-drawer-content {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23d9d9d9'/%3E%3Cstop offset='1' stop-color='%23e6e6e6'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='22' height='22' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='11' cy='11' r='11'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.11'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

.mat-toolbar {
  background: #ffffff;
  color: #cecece;
  border-bottom: #e0e0e0 0.5px solid;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  align-items: center;
  white-space: nowrap;
}

.img_logo {
  display: inline-block;
  width: 60px;
  padding: 0.5% 0% 0% 0%;
}

.btn_logout {
  display: inline-flex;
  float: right;
  padding: 0.5% 0% 0% 0%;
}

.mat-drawer.mat-drawer-side {
  background-color: #f7f7f7;
  z-index: 2;
  box-shadow: 0 0 8px 0px #00000059;
}

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  border-radius: inherit;
}

.btn-location {

  z-index: 3;
  position: relative;
  float: right;
  flex-direction: row;
  display: inline-flex;
  margin-top: -10px;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 108px !important;
  padding-bottom: 1.25em;
}

::ng-deep .btn-location .mat-form-field-underline {
  display: none;
}

::ng-deep .btn-location .mat-form-field {
  width: 50px;
}

.flag {
  width: 25px;
  display: inline-block;
}

mat-select.en {
  background-image: url('../../../assets/svg/united-kingdom.svg');
  background-repeat: no-repeat;
}

mat-select.es {
  background-image: url('../../../assets/svg/spain.svg');
  background-repeat: no-repeat;
}

mat-select.eu {
  background-image: url('../../../assets/svg/basque-country.svg');
  background-repeat: no-repeat;
}

.ng-trigger.ng-trigger-transformPanel.ng-tns-c6-1.mat-select-panel.mat-primary.ng-star-inserted {
  min-width: 100% !important;
}

.user-name {
  float: right;
  font-size: 0.95rem;
  font-weight: 300;
  margin: 10px 10px 0 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .row {
    display: block !important;
}

  .btn_logout {
    margin: -2px -16px 0px 0;
  }

  .btn-location {
    font-size: small;
    margin-top: 0px;
  }

  .mat-icon-button[_ngcontent-c1] {
    margin: 5px 0 0 0;
  }
}
