<div class="sociedades" [@bounceInLeft]="bounceInLeft">
  <div class="sociedades-header">
    <div class="title">
      <h3>{{ 'TITLECORPS' | translate }}</h3>
    </div>

    <div class="btn_close">
      <button type="button" *ngIf="!disableCreatable" (click)="showCards = true" mat-icon-button matTooltip="{{ 'CLOSE' | translate }}" matTooltipPosition="after" routerLink="/administracion">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="sociedades-content">
    <app-app-crud-table [service]="sociedadesService" [columns]="columnasSociedad" modalTitle="{{ 'CORPS' | translate }}" [groups] = "groupsSociedad"></app-app-crud-table>
  </div>
</div>
